<h1>Account Activation</h1>
<p>
  Hi <%= @user.name %>
</p>
<p>
  Please click on the link below to active your account:
  http://seinfeld-calendar-v2.herokuapp.com/#/active_account/<%= @user.confirmed_token %>
</p>
