<h1>Reset password</h1>
<p>
  Hi <%= @user.name %>
</p>
<p>
  Please click on the link below to reset your password:
  http://seinfeld-calendar-v2.herokuapp.com/#/reset_password/<%= @user.reset_password_token %>
</p>
