<form class="form" method="post" action="#">
    <h2>Seinfeld calendar</h2>
    <label>Email :</label>
    <input type="text" name="demail" id="email">
    <label>Password :</label>
    <input type="password" name="password" id="password">
    <input type="button" name="login" id="login" value="Login">
</form>
